@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    background: #FBFBFB;
}

/* Navbar */

.logo:hover {
    color: rgba(225, 35, 36);
}

.transition-colors:hover {
    color: rgb(225, 35, 36);
}

nav {
    background-color: #FDFDFD;
}

/* Hero */

.resume:hover, .resume p:hover {
    color: #e12324;
}

/* Projects Section */
.sec {
    padding: 13% 0px 5%;
    height: 100%;
}

.project {
    /* height: 100% !important; */
}

.drop-btn:hover {
    color: rgb(225, 35, 36);

}

.project-card:hover {
    background: rgb(225, 35, 36) !important;
}


.project-img {
    height: 180px;
    width: 100%;
}

.project-img img {
    background-color: #000;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}



.tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* background-color: rgba(0, 0, 255, 0.2); */
}

.tag span {
    display: inline-block;
    background-color: #eee;
    /* border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600; */
    text-transform: uppercase;
    color: #333;
}

.project-img {
    position: relative;
}

.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.project-img img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Article  */

.article {}

.article-img {
    height: 230px;
    width: 100%;
}

.article-img img {
    height: 100%;
    /* changed from width: 100% */
    width: 100%;
    object-fit: cover;
}

.article-content {
    justify-content: center !important;
    align-items: center !important;
    height: 230px;
    overflow: hidden;
    /* added to prevent content from overflowing */
}


/* Case Study */

@media (min-width: 768px) {

    /* Only show the container on screens larger than 768px */
    .hidden {
        display: none;
    }

    /* Style the container to display the images side by side */
    .flex-row {
        flex-direction: row;
    }
}

.p-case {
    display: -webkit-box;
    max-width: 100%;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* About Page */

.panels {
    min-height: 40vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #fff;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    font-size: 16px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-image: url(https://docs.google.com/uc?export=download&id=1rDZM5ZW-3_rdEVeelczU4VGefYMEoCMz);
}

.panel2 {
    background-image: url(https://docs.google.com/uc?export=download&id=1jlToC2y802UEo7xa5Vd_u3a4_5g3L0Iz);
}

.panel3 {
    background-image: url(https://docs.google.com/uc?export=download&id=1ZZYNm8gwikJUcdLXd35R2lwFxn665gs6);
}

.panel4 {
    background-image: url(https://docs.google.com/uc?export=download&id=1ZrKJlq0U7zg4rOkiw7cYOUVsZKFV9UnB);
}

.panel5 {
    background-image: url(https://docs.google.com/uc?export=download&id=19EnMY5Dd5Kx-BK2uuoRUrZImt8fOcCq4);
}

.panel>* {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel>*:first-child {
    transform: translateY(-100%);
}

.panel.open-active>*:first-child {
    transform: translateY(0);
}

.panel>*:last-child {
    transform: translateY(100%);
}

.panel.open-active>*:last-child {
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1em;
}

.panel p:nth-child(2) {
    font-size: 2em;
}

.panel.open {
    font-size: 20px;
    flex: 5;
}

/* .about {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
} */